
	.button
	{
		-ms-behavior: url('css/PIE.htc');
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

		#header .inner
		{
			background: #333;
		}
	
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
	}

	#main-wrapper
	{
	}

		#main-wrapper .main-wrapper-style1
		{
		}

			#main-wrapper .main-wrapper-style1:before
			{
				background: none;
			}

		#main-wrapper .main-wrapper-style3
		{
		}

			#main-wrapper .main-wrapper-style3:before
			{
				background: none;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.dropotron
	{
		background: #333;
	}